# --- Dependencies ---
**/node_modules/
**/venv/
**/.venv/

# --- Environment & Secrets ---
.env
*.env
pg_data/
mongo_data/

# --- Git ---
.git
.gitignore

# --- Python Cache ---
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd
.pytest_cache/

# --- Frontend Builds ---
frontend/dist/
frontend/dist-ssr/

# --- OCR / Temp files ---
backend/app/services/temp_images/
backend/app/uploads/